/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.bottom-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* ----------------- Profile Post -------------------- */

.new-post {
  padding: 16px 0;
  border-bottom: 1px solid #ccc;
}

.user-post header {
  margin-bottom: 20px;
}

.user-post .post-body {
  padding-left: 10px;
  border-left: 3px solid #a21b24;
  margin-bottom: 30px;
}

.user-post .post-body .info {
  color: #aaa;
  font-style: italic;
}

/* ----------------- Error & Success -------------------- */

.error, .success {
  text-align: center;
}

.success {
  border: 1px solid green;
  background: #d1f9da;
  color: green;
  margin-bottom: 10px;
}

.error {
  border: 1px solid red;
  background: #f9b5af;
  color: red;
}

.error ul {
  list-style: none;
  margin: 0;
  padding: 0;
}